/* GAME BOARD PAGE */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial;
    background-color: rgb(31, 29, 29);
}

/* GAME BOARD - Board and Stats */
.wrap-board-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 70vh;
}

.game-board {
    width: 60%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 12.5vw 12.5vw 12.5vw;
    grid-template-rows: 12.5vw 12.5vw 12.5vw;
    cursor: pointer;
    font-size: 2vw;
     
}

.cell {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    border: rgba(255, 255, 255, 0.886) .1vw solid;
    background-color: rgba(204, 204, 204, 0.245);

    color: #fff;
    font-size: 2em;
}

.x-mark {
    color: #00fffc;
    text-shadow: #064948 .3vw .3vw .1vw;
}

.o-mark {
    color: #fc00ff;
    text-shadow: #6c0b6d .3vw .3vw .1vw;
}

.current-player{
    transform: scale(1.7);
    transition: all 400ms;
}

.players-stats {
    display: flex;
    flex-direction: column;
    height: 37.5vw;
    justify-content: space-between;
    color: #fff;
}

.player1-stats,
.player2-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 50%;
}

.player1-your-turn,
.player2-your-turn {
    font-size: 1.2em;
}

.player1-name,
.player2-name {
    font-size: 1.5em;
}

.player1-name {
    color: #00fffc;
}

.player2-name {
    margin-top: 1em;
    color: #fc00ff;
}

.btn {
    color: #fff;
    text-shadow: .1vw .1vw .1vw black;
}

.btn:hover {
    cursor: pointer;
    text-shadow: 
    0 0 2vw #fc00ff,
    0 0 4vw #fc00ff,
    0 0 6vw #00fffc,
    0 0 8vw #00fffc,
    0 0 10vw #fffc00,
    0 0 12vw #fffc00;
}