/* GAME BOARD PAGE */
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial;
    background-color: rgb(31, 29, 29);
}

/* GAME BOARD - Board and Stats */
.wrap-board-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 60vh;
}

.game-board {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 11.5vw 11.5vw 11.5vw;
    grid-template-rows: 11.5vw 11.5vw 11.5vw;
    cursor: pointer;
    font-size: 2vw;
    
    
}

.cell {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    border: #fff .1vw solid;
    background-color: rgba(204, 204, 204, 0.245);
}

.players-stats {
    display: flex;
    flex-direction: column;
    
    height: 34.5vw;
    width: 22vw;

    font-size: 2vw;
    text-align: center;
    color: #fff;
}

.player1-stats,
.player2-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}

.player1-name,
.player2-name {
    transition: all 300ms;
}

.player1-name {
    color: #00fffc;
}

.player2-name {
    color: #fc00ff;
}

/* GAME BOARD - WRAP BUTTONS */
.wrap-buttons {
    height: 4vw;
    width: 49.7vw;
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1em;
    border-bottom: .1vw solid rgba(204, 204, 204, 0.245);
}

.game-mode-display {
    color: #fff;
    text-decoration: underline;
}

.btn {
    width: 50%;
    font-size: 2vw;
    line-height: 4vw;
    cursor: pointer;
    color: rgb(61, 176, 61);
    text-shadow: .1vw .1vw .1vw #333;
    transition: all 300ms;
    border: .1vw solid #ccc;
}

.btn:hover {
    color: #fff;
    background-color: rgb(61, 176, 61);
}

.btn-new-game {
    width: 20vw;
    text-align: center;
}

/* GAME BOARD - for JS */
.hide {
    visibility: hidden;
}

.x-mark {
    color: #00fffc;
    text-shadow: #064948 .3vw .3vw .1vw;
}

.o-mark {
    color: #fc00ff;
    text-shadow: #6c0b6d .3vw .3vw .1vw;
}

.current-player {
    text-decoration: underline;
    font-size: 1.2em;
}

