/* GAME BOARD PAGE width < 700px */
.wrap-board-stats {
    flex-direction: column-reverse;
    height: 70vh;
    width: 90vw;
}

.game-board {
    grid-template-columns: 20.5vw 20.5vw 20.5vw;
    grid-template-rows: 20.5vw 20.5vw 20.5vw;
}

.players-stats {
    flex-direction: row;
    width: 61.5vw;
    height: 10vw;
}

.player1-stats,
.player2-stats {
    width: 50%;
    height: 100%;
}

.player1-your-turn,
.player2-your-turn,
.player1-name,
.player2-name {
    width: 100%;
}

.wrap-buttons {
    width: 34.5vw;
    height: 5vh;
}

/* SELECT PLAYERS PAGE width < 700px */
.container-select-players {
    width: 90vw;
}

.select-players-header {
    font-size: 3em;
}

.player1-header-text,
.player2-header-text {
    font-size: 8em;
}

.select-player1-vs-player2 {
    flex-direction: column;
}

.select-player1,
.select-player2 {
    width: 90%;
}

.select-player-vs{
    text-align: center;
    line-height: 2.5em;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: .2vw solid white;
    border-bottom: .2vw solid white;
}

.vs-text {
    font-size: 1.5em;
}

.player1-input-name,
.player2-input-name {
    text-align: center;
}

.player1-type,
.player2-type {
    width: 30%;
}

input[type="text"]{
    width: 50%;
    height: 5em;
    font-size: 1em;
}

.btn-play {
    width: 30%;
    height: 50%;
}